.body {
background-color: powderblue;
background-size: cover;
height: 160vh;
position: relative;
background-repeat:no-repeat ;
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
  }
  
 /* Change the color of links on hover */
  .topnav a:hover {
    background-color:darkmagenta;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: black;
    color: blue ;
  }

  
.contact-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: darkmagenta;
    background-color: powderblue;
    }

   
    /* Style inputs*/
    input[type=text], select, textarea{
     width: 50%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius:4px;
     box-sizing: border-box;
    }

    /* Style the submit button*/
    input[type=submit]{
        width: 10%;
        background-color: blue;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /* Add a background color to the submit on mouse-over*/
    input[type=submit]:hover{
        background-color: black;
    }
    /*footer*/

    .social-media img {
     height: 40px;
     width: 50px;
     padding: 0 10px 0 10px;
    }
 
    .social-media {
     display: flex;
     flex-direction: row;
     height: 90px;
     width: 90px;
     
     }
    .footer  {
      display:flex;
      justify-content: space-between;
      flex-direction: row;
      background: darkmagenta;
      color: black;
    }